/* Primary Colors*/
/* Neutral colors */
body {
  overflow: hidden;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #ce9797;
  font-size: 16px;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 15px;
  margin-bottom: 15px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (120px auto)[2];
  grid-template-rows: repeat(2, 120px auto);
      grid-template-areas: "logo hero-image" "text-content hero-image";
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: contain;
  width: 100vw;
}

.main__content-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  padding: 0 17% 0;
  -ms-grid-row-align: end;
      align-self: end;
}

.main__content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  width: 500px;
  grid-area: text-content;
  margin-top: 100px;
  padding: 0 17%;
}
.main__content p {
  line-height: 2;
  width: 440px;
}

.main__coming-soon {
  font-weight: 600;
  color: #413a3a;
  display: block;
  width: 400px;
}

.main__form {
  margin-top: 50px;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

.main__form-input {
  color: #f96262;
  padding: 20px 30px;
  border-radius: 50px;
  width: 400px;
  border-style: solid;
  border-color: #ce9797;
  border-width: 1px;
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
}

.main__form-input::-webkit-input-placeholder {
  color: #ce9797;
}

.main__form-input::-moz-placeholder {
  color: #ce9797;
}

.main__form-input:-ms-input-placeholder {
  color: #ce9797;
}

.main__form-input::-ms-input-placeholder {
  color: #ce9797;
}

.main__form-input::placeholder {
  color: #ce9797;
}

form > input[type=email]:invalid {
  background: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 330px 15px;
  border-color: #f96262;
}

form:invalid .main__form-invalidation {
  display: block;
}

.main__form-btn {
  position: absolute;
  padding: 16px 45px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #f8bfbf), to(#ee8c8c));
  background-image: linear-gradient(to right, #f8bfbf 5%, #ee8c8c);
  border-radius: 50px;
  border-style: none;
  -webkit-box-shadow: -10px 10px 20px #f8bfbf;
          box-shadow: -10px 10px 20px #f8bfbf;
  left: 370px;
}
.main__form-btn:hover {
  background: #f8bfbf;
}

.main__form-invalidation {
  display: none;
  padding-left: 30px;
  font-size: 0.8em;
  margin-top: 0;
  color: #f96262;
}

.main__hero-wrapper {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  position: absolute;
  right: 0;
  -ms-grid-row-align: end;
      align-self: end;
  grid-area: hero-image;
}
.main__hero-wrapper .main__hero-image {
  height: 100vh;
}
.main__hero-wrapper .main__hero-mobile {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  padding-left: 200px;
}

@media only screen and (max-width: 700px) {
  body {
    overflow: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#fff5f5));
    background-image: linear-gradient(white, #fff5f5);
  }

  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-image: none;
  }

  .main__content-wrapper {
    padding: 0;
  }

  .main__content-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 40px 30px;
  }

  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: auto;
    height: auto;
    padding: 50px 0;
    margin: auto;
  }
  .main__content h1 {
    width: auto;
    font-size: 2.5em;
  }
  .main__content p {
    width: 80%;
    line-height: 1.5;
    font-size: 0.9em;
  }

  .main__coming-soon {
    width: auto;
  }

  .main__hero-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: static;
    width: 100%;
  }
  .main__hero-wrapper .main__hero-image {
    display: none;
  }
  .main__hero-wrapper .main__hero-mobile {
    display: block;
    width: 100%;
  }

  .main__form {
    margin-top: 20px;
  }

  .main__form-input {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .main__form-btn {
    position: absolute;
    padding: 16px 30px;
    left: 250px;
    top: 0;
  }

  footer {
    padding: 0;
    text-align: center;
    position: static;
  }
}